.pos .pos-content {
    .price-tag {
        background: #00abcd;
        border-radius: 12px;
        width: 50%;
        text-align: right;
        // right: 0;
        // left: 0;
        // top: 0;
    }
}